extends layouts/default

block vars
	- var page = 'system'
	- var title = 'You’ve found an empty page – don”t worry though, I have a use, I’m just not going to tell you what it is…'
	- var urlFriendlyShareText = encodeURI(shareText);


block content
	.page-content-error
		h2.page-content-error-title Ok, you’ve twisted my arm – go 
			a(href="http://www.christmastracker.com") here
