extends layouts/home

block vars
	-var metaTitle = 'Christmas Tracker – watching Christmas as it happens'
	- var page = 'home'
	- var title = 'Christmas Tracker'
	- var pageContent = 'Ever wanted to know what people were mentioning on Twitter at Christmas? Well take a look below to find out!'
	- var shareText = 'Some share text goes here'
	- var urlFriendlyShareText = encodeURIComponent(shareText);