doctype html
html
	block vars
	include ../includes/head

	- if (subText === undefined)
		- subText = 'Oops'

	body
		div(class="l-container #{page}")
			include ../includes/header

			.page-content
				p #{pageContent}

			.symbols
				include ../symbols/index


			include ../includes/footer

	include ../includes/foot
